# -------------------
# Front-end
# -------------------

node_modules/
*.log


# -------------------
# Report
# -------------------

report/*.aux
report/*.bcf
report/*.log
report/*.out
report/*.xml
report/*.gz
report/*.toc

# -------------------
# D1
# -------------------

D1/*.aux
D1/*.bcf
D1/*.log
D1/*.out
D1/*.xml
D1/*.gz
D1/*.toc

# -------------------
# D2
# -------------------

D2/*.aux
D2/*.bcf
D2/*.log
D2/*.out
D2/*.xml
D2/*.gz
D2/*.toc



# -------------------
# D3
# -------------------

D3/*.aux
D3/*.bcf
D3/*.log
D3/*.out
D3/*.xml
D3/*.gz
D3/*.toc

# -------------------
# Environment
# -------------------

node_app/.env
